
.search-results {
    display: none;
}

.search-visible .search-results[data-state="no-results"],
.search-visible .search-results[data-state="has-results"],
.search-visible .search-results[data-state="loading-error"] {
    display: block;
}

.search-visible .search-results[data-state="no-results"] {
    @apply p-4;
}

.search-results .excerpt {
    white-space: pre-wrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.divider:last-child {
    display: none;
}