<footer class="footer flex mt-24 pt-4 px-4 w-full border-t border-gray-300 justify-end text-sm">
  <span class="p-2 text-gray-700 mr-auto">Rédigé par {{ author }}</span>
  <a href="{{ site.urls.github }}" class="p-2 text-pink-700 hover:text-pink-900">{{ site.author.handle }}/{{ site.name }}</a>
</footer>
