<footer class="footer flex mt-24 pt-4 px-4 w-full border-t justify-end text-sm">
    {% if author | length %}
      <span class="p-2 mr-auto">
        Rédigé par {{ author }}
      </span>
    {% endif %}
  <a href="{{ site.urls.github }}" class="p-2">
    {{ site.author.handle }}/{{ site.name }}
  </a>
</footer>
