:root {
  --main-color: #e2e8f0;
  --background-color: #1a202c;
}

body,
.header,
.sidebar,
.sidebar-scroller {
  @apply bg-gray-900;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-white;
}

body {
  @apply text-gray-400;
}

.article ::selection {
  @apply bg-gray-750;
}

.article b,
.article strong {
  @apply text-white;
}

.article a {
  @apply text-pink-500 border-pink-500 border-dotted;
}

.article a:hover {
  @apply text-pink-400 border-pink-400 border-solid;
}

.article code:not([class*="language-"]):not(.hljs) {
  @apply bg-gray-800 text-gray-300;
}

.article hr {
  @apply border-gray-700 my-2;
}

.article > table {

  tbody {
    //TODO tr fill full width space
    @apply w-full;
  }

  tr {
    background-color: #fff1;
  }
}

.article .meta-tag {
    @apply bg-gray-800;
}

.r-anchor-background {
  @apply bg-gray-850;
}

.search-results .r-anchor-background {
  @apply bg-gray-750;
}

.r-version-badge {
  @apply text-gray-500;
}

.r-var-type {
    @apply text-gray-300;
}

.anchorjs-link:after {
    @apply text-gray-600;
}

// sidebar
.sidebar .level-1 {
  @apply text-orange-400;
}

.nav-link {
  @apply text-gray-400 opacity-75;
}

.nav-link:hover {
  @apply text-white;
}

.nav-link.selected {
  @apply text-white bg-gray-750;
}

// search
.search-input {
  @apply bg-gray-800 border-gray-700 text-gray-400;
}

.search-input:focus {
  @apply border-gray-500;
}

.search-desc {
  @apply text-gray-600;
}

.search-results {
  @apply bg-gray-800;
}

.search-results .excerpt {
  @apply text-gray-400;
}

.search-results mark {
    @apply bg-orange-700 text-orange-100;
}

// header
.header {
  @apply text-gray-300;
}

.header .menu-toggle {
  stroke: #ddd;
  stroke-width: 2px;
}

// footer
.footer {
  @apply text-gray-600 border-gray-700;

  a {
    @apply text-pink-600;
  }

  a:hover {
    @apply text-pink-500;
  }
  
}

// scroll bar
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #1e2a3daa; }
::-webkit-scrollbar-thumb { background: #d6dae0aa }
::-webkit-scrollbar-thumb:hover { background: #cbd5e0aa } 

* {
  scrollbar-color: #d6dae0aa #1e2a3daa;
  scrollbar-width: thin;
}