---
hidden: true
permalink: /api/search.json
---
[
{% for page in collections.searchPages %}
  {
     "title":"{{page.data.title}}",
     "url":"{{page.url}}",
     "tags":"{{ page.data.tags }}",
     "content":"{{ page.data.tags }} | {% searchContent page %}",
     "contentNormalized":"{{ page.data.tags }} | {% searchContentNormalized page %}"
  }{% if loop.last != true %},{% endif %}
{% endfor %}
]
